.researchImages{
    display: grid;
    grid-template-columns: 1r 1fr;
}

.researchProject{
    font-family: "Montserrat", serif;
    font-size: 14px;
    color:white;
    box-sizing: border-box;
    border: 3px;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    padding:20px;
}

.researchColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.researchColumn{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.researchTitle{
    padding: 20px 0px;
}
