
.imageSectionOne{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 900px) {
    .imageSectionOne{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}
@media screen and (max-width: 500px) {
    .imageSectionOne{
       display: flex;
       flex-direction: column;
       max-width: 100%;
       height: auto;
    }
}


.sectionOne{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color:none;
    padding: 20px;
    box-sizing: border-box; 
    border: 2px solid white; 
    border-radius: 8px;
    margin: 20px;
}
@media screen and (max-width: 1920px) {
    .sectionOne {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        background-color:none;
        padding: 20px;
        box-sizing: border-box; 
        border: 2px solid white; 
        /* margin: 20px; */
    }}
@media screen and (max-width: 900px) {
    .sectionOne {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.innerSectionOne{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    padding-left: 100px;
    font-family: "Montserrat", serif;
    /* max-width: 700px; */
}

@media screen and (max-width: 900px) {
    .innerSectionOne{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        font-family: "Montserrat", serif;
        padding: 10px;
    }
}
@media screen and (max-width: 850px) {
    .innerSectionOne{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        font-family: "Montserrat", serif;
    }
}

@media screen and (max-width: 450px) {
    .innerSectionOne{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        font-family: "Montserrat", serif;
    }}