.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  h1{
    font-family: "Bebas Neue", serif;
    color:white;
}

.h1{
    color:white;
}

h2{
    font-family: "Bebas Neue", serif;
}

h5{
    font-family: "Montserrat", serif;
    font-style: bold;
    padding: 2px 0px;
    margin: 0px 0px;
    
}

body{
    background-color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menuLinks {
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", serif;
    gap: 10px;
    transition: all 0.5s;
    font-size: 25px;
}

.menuLinks:hover {
    color: greenyellow;
}