.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .rubik {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500, 800;
    font-style: normal;
  }

h1{
    font-family: "Rubik", serif;
    color:white;
    font-size: 25px;
    font-weight: 800;
}

.h1{
    color:white;
    font-family: "Rubik", serif;
    font-size: 25px;
}

h2{
    font-family: "Rubik", serif;
    font-size: 20px;
}

h3{
    font-family: "Rubik", serif;
    font-size: 18px;
}

h5{
    font-family: "Rubik", serif;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 0px;
    margin: 0px 0px;
    
}

body{
    background-color: black;
    padding: 20px;
    font-size:14px;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
    justify-items: center;
}


@media screen and (max-width: 600px) {
    .menu{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: right;
    }
}

.menuLinks {
    text-decoration: none;
    color: white;
    font-family: "Rubik", serif;
    gap: 10px;
    transition: all 0.5s;
    font-size: 15px;
    font-weight: 800;
}

.menuLinks:hover {
    color: greenyellow;
}

.logo{
margin: 0;
padding: 0;
}


