/* Base button styling */
.sectionTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: none;
    /* padding: 20px; */
    margin: 20px;
    gap: 20px;
}

@media screen and (max-width: 850px) {
    .sectionTwo {
        display: grid;
        grid-template-columns: 1fr;
       
    }

}

.mainBox{
    display:flex;
    flex-direction: column;
    box-sizing: border-box; 
    border: 2px solid white; 
    border-radius: 8px;
    padding: 20px;
    color: white;
    font-family: "Montserrat", serif;
}

button {
    display: inline-block;
    padding: 15px 20px;
    margin: 10px 0px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #111111;
    background-color: #aaff00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Bebas Neue", serif;
  }
  
  /* Hover effect */
  button:hover {
    background-color: #ffffff;
  }

  /* Base button styling */
.button {
    display: inline-block;
    padding: 15px 20px;
    margin: 10px 0px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #111111;
    background-color: #aaff00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Bebas Neue", serif;
  }
  
  /* Hover effect */
.button:hover {
    background-color: #ffffff;
  }
  
  /* Active effect */
  button:active {
    background-color: #aaff00;
  }
  
  /* Disabled state */
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }