.ComingSoonPage{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: white;
}

.ComingSoonText{
    grid-column: 2;
    color: white;
    font-family: "Montserrat", serif;
    justify-items: center;
    text-align: center;

    box-sizing: border-box;
    border: white;
    border-radius: 8px;
    border-style: solid;
    padding: 20px;
    

}